* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-color: #121214;
    background-position: top center;
    background-size: 100% auto;

    color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 120px;
    margin-top: 32px;
}
header div {
    width: 120px;
    margin: auto;
    padding: 4px;

    background-image: linear-gradient(90deg, #C91842, #5CC2E2);

    border-radius: 50%;

    display: flex;
}

header img {
    width: 100%;
    border-radius: 50%;
}

main {
    display: grid;
    gap: 24px;

    margin: 32px auto;
    max-width: 520px;
    width: 90%;
}

section {
    background-image: linear-gradient(90deg, #C91842, #5CC2E2);

    padding-top: 4px;

    border-radius: 10px;
}

section div {
    background-color: #262629;

    padding: 24px 32px 32px 32px;

    border-radius: 8px;
}

section h2 {
    line-height: 160%;
}

section p {
    line-height: 160%;
    letter-spacing: -0.18px;
    color: #C1C1C1;
}

section ul {
    list-style-type: none;

    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

section ul#social {
    margin-top: 24px;
}

section img {
    width: 100px;
    margin-top: 24px;

    border-radius: 8px;
    border: 1px solid #555555;
}